<!DOCTYPE html>

<title>Delivery index</title>

{% block body %}
    <h1>Delivery index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Parcour</th>
                <th>TimeValidUser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.id }}</td>
                <td>{{ delivery.status }}</td>
                <td>{{ delivery.parcour }}</td>
                <td>{{ delivery.timeValidUser ? delivery.timeValidUser|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('delivery_show', {'id': delivery.id}) }}">show</a>
                    <a href="{{ path('delivery_edit', {'id': delivery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('delivery_new') }}">Create new</a>
{% endblock %}
