<!DOCTYPE html>

<title>Delivery</title>

{% block body %}
    <h1>Delivery</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ delivery.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ delivery.status }}</td>
            </tr>
            <tr>
                <th>Parcour</th>
                <td>{{ delivery.parcour }}</td>
            </tr>
            <tr>
                <th>TimeValidUser</th>
                <td>{{ delivery.timeValidUser ? delivery.timeValidUser|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('delivery_index') }}">back to list</a>

    <a href="{{ path('delivery_edit', {'id': delivery.id}) }}">edit</a>

    {{ include('delivery/_delete_form.html.twig') }}
{% endblock %}
