<!DOCTYPE html>

<title>OrderLine</title>

{% block body %}
    <h1>OrderLine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order_line.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ order_line.quantity }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ order_line.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ order_line.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('order_line_index') }}">back to list</a>

    <a href="{{ path('order_line_edit', {'id': order_line.id}) }}">edit</a>

    {{ include('order_line/_delete_form.html.twig') }}
{% endblock %}
